/* nunito-regular - latin-ext_latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/nunito.woff2") format("woff2"),
    url("../fonts/nunito.woff") format("woff");
}

body {
  font-family: "Nunito";
  transition: 0.5s;
}

.particle {
  background-color: rgba(250, 250, 250, 0.685);
  height: 1.7vmax;
  width: 1.7vmax;
  border-radius: 50%;
  position: fixed;
  animation: particle 12s linear 1;
  z-index: -1;
  filter: opacity(50%);
}

@keyframes particle {
  from {
    bottom: -10%;
  }

  to {
    bottom: 100%;
  }
}

@keyframes fade {
  from {
    filter: opacity(50%);
  }

  to {
    filter: opacity(0%);
  }
}

main {
  min-height: calc(100vh - 32vh);
}

.footer {
  height: 7vh;
}

.bg-black {
  background-color: black;
}

.feather {
  margin-bottom: 0.17em;
}

.mode-switcher {
  position: fixed;
  bottom: 3em;
  right: 3em;
}
